# Python
__pycache__
.mypy_cache
.pytest_cache
**/*.pyc
poetry.lock
pyrightconfig.json

# Exclude frontend, will be imported with DOCKERFILE
frontend/
!frontend/dist

# Database
alembic.ini

# Plugins
plugins/

# Other
.github
.git
.gitignore
.vscode
README.md

# Docker
docker-compose.yml
Dockerfile