# Python
__pycache__
.mypy_cache
.mypy_cache
.pytest_cache
**/*.pyc
poetry.lock
pyrightconfig.json

# Exclude frontend, will be imported with DOCKERFILE
frontend/
!frontend/dist

# Database
alembic.ini
alembic-template.ini

# Plugins
plugins/

# Other
.github
.git
.gitignore
.vscode
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Docker
docker-compose.yml
Dockerfile

# Docs
docs/
node_modules/
package.json
yarn-error.log
yarn.lock

# Assets
assets/