# Database
alembic.ini
migrations/versions/
db.sqlite3

# Linters
pyrightconfig.json

# Plugins
./plugins/

# Python specific stuff
**/__pycache__
poetry.lock
test.py
.pytest_cache/

# Temp
favicon.ico
tasks.json
# Linters
.mypy_cache

# Frontend
yarn.lock

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/*.local

# Editor directories and files
**/.vscode
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# Docs
doxygen/
**/**/node_modules
docs/.vuepress