# Database
alembic.ini
migrations/versions/

# Plugins
plugins/**

# Python specific stuff
**/__pycache__
poetry.lock
test.py
.pytest_cache/

# Temp
favicon.ico
tasks.json
# Linters
.mypy_cache

# Frontend
frontend/yarn.lock

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
/yarn-error.log

# Frontend node modules
frontend/node_modules

# Docs
**/**/node_modules
docs/.vitepress/cache